body {
  font-family: $lato;

}

h1  {
  font-family: $lato;
  font-weight: $black;
  font-size: 2rem;
  color: $pearl-aqua;
}

h2 {
  font-family: $lato;
  font-weight: $bold;
  font-size: 1.5em;
  color: $pearl-aqua;

}

h3{
    font-weight: $regular;
    font-size: 1rem;
    color: $pearl-aqua;

}
h4 {
font-weight: $small;
color: $pearl-aqua;
 }

p {
  font-weight: $small;
  color: $pearl-aqua;
}

span {
  font-weight: $small;
  color: $pearl-aqua;  
}
